# Compilados de Java
*.class
*.jar
*.war
*.ear

# Logs y temporales
*.log
*.tmp
*.swp
*~

# Carpetas de build y distribución
/build/
/dist/
/out/

# Configuración privada de NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# Carpetas VS
/.vscode
/.vs

# Archivos del sistema operativo
.DS_Store
Thumbs.db
/Desarrollo/target/
/frontend/nbproject/
/backend/nbproject/

# Variables Maven
${project.build.directory}/
**/\${project.build.directory}/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Maven target folder y archivos generados
**/target/
backend/target/
Desarrollo/target/

# Archivos específicos de Maven
createdFiles.lst
inputFiles.lst
**/createdFiles.lst
**/inputFiles.lst
